 .button-outlined {
   width: 60%; /* Fixed width for both buttons */
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.8em;
   flex-shrink: 0;
   border-radius: 1em; /* Ensure rounded borders are applied */
   border: 1px solid #000;
   display: flex;
   align-items: center;
   justify-content: center;
   background: transparent;
   cursor: pointer;
}

.button-outlined {
   background: transparent;
   
}




.button-outlined:hover {
   border: 1px solid #0E9F9B;; 
   
}

 .button-outlined-text {
   text-align: center;
   font-family: "Space Grotesk";
   font-size: 1.1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 109%;
   letter-spacing: 0.24px;
   text-transform: uppercase;
}




.button-outlined-text {
   color: #000;
}

.button-outlined-text:hover {
   background: linear-gradient(45deg, #0E9F9B, #FFB34A); /* Apply gradient */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   
}