.main-badge-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0A1F25;


   padding: 20px;
   overflow: hidden;

}

.center-badge-container {
   position: relative;
   display: flex;
   flex-direction: row;
   width: 70%;
   align-items: center;
   background-color: #0A1F25;
   margin-bottom: 100px;
   padding: 20px;
   padding-bottom: 40px;
   justify-content: space-between;
}

.badge-container{
 display: flex;
   height: 70px;
   width: 100px;
   justify-content: center;
   align-items: center;




  
}

.badge-container img {
   width: auto; 
   height: 70px;
   margin: auto;
  
 }





@media  screen and (max-width: 768px) {
   .center-badge-container {
      flex-direction: column;
      height : 60vh;
  
      
   }

   .badge-container img {
      width: auto; 
      height: 50px;
      margin: auto;

   }

   
}