.timeline-view-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
    overflow-x: hidden;
}

.background-svg {
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Set the SVG in the background */

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.foreground-content {
    position: relative;
    z-index: 2; /* Set the timeline and other content in the foreground */
    
}




.full-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9E9E9;
    gap: 20px;
    /* Adjust the gap as needed */
    position: relative;
    overflow: hidden;
    z-index: 3;
}



.inner-container {
    margin-top: 7%;
    width: 80%;
    /* Adjust width as needed */
    padding: 20px;
    /* Padding inside the inner container */
    border-radius: 10px;
    /* Optional: Add border-radius for rounded corners */

    /* background: url('../assets/dottedline.svg') no-repeat center 45%; */
    background-size: auto;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 100%;
    /* Make the card as wide as the screen */
    display: flex;
    justify-content: center;
    /* Align content to the center */
    position: relative;
    z-index: 3;
    /* Ensure it stays above the background */
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8 {
    margin: 5% 0; 
}


@media (min-width: 1024px) {
    .card1 {
        margin: 5% 5% 5% 0%; /* top right bottom left */
    }
    
    .card2 {
        margin: -4% 5% 5% 40%; /* top right bottom left */
    }
    
    .card3 {
        margin: 2% 10% 2% 55%; /* top right bottom left */
    }
    
    .card4 {
        margin: 3% 10% 2% 20%; /* top right bottom left */
    }
    
    .card5 {
        margin: 6% 5% 5% 39%; /* top right bottom left */
    }
    
    .card6 {
        margin: -3% 5% 5% 64%; /* top right bottom left */
    }
    
    .card7 {
        margin: 0% 5% 5% 30%; /* top right bottom left */
    }
    
    .card8 {
        margin: -1% 7% 5% 50%; /* top right bottom left */
    }
}

@media (max-width: 768px) {
    .background-svg {
        display: none; /* Hide the SVG on small screens */
    }
}

.path1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Ensure it stays behind the cards */
}

/* Default styles for larger screens */
.text-background {
    color: #292929;
    font-family: "Space Grotesk";
    font-size: 244px;
    font-style: normal;
    font-weight: 700;
    line-height: 101%; /* 347.44px */
    letter-spacing: 3.44px;
    text-transform: capitalize;
    opacity: 0.06;
    position: absolute;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .text-background {
        font-size: 140px; /* Reduce font size for smaller screens */
        letter-spacing: 2px; /* Adjust letter-spacing for smaller font */
    }
}


.text-background-div1 {

    position: absolute;
    top: 0%;
    left: 5%;
}


.text-background-div2 {

    position: absolute;
    top: 16%;
    left: 20%;
}



.text-background-div3 {

    position: absolute;
    top: 50%;
    left: 0%;
}


.text-background-div4 {

    position: absolute;
    top: 70%;
    left: 15%;
}

.paraSec {
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    

}

.paraSec-sub {
    width: 80%;
    margin-top: 8%;
}


.header {
    position: relative;
    color: #292929;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 93px;
    font-style: normal;
    font-weight: 700;
    line-height: 81%; /* 75.33px */
    letter-spacing: 0.93px;
    text-transform: capitalize;
}


@media (max-width: 1023px) {
    .header {
        font-size: 55px; /* Reduce font size for smaller screens */
        line-height: 90%; /* Adjust line height for smaller screens */
    }
}

/* Default styles for larger screens */
.para {
    margin-top: 8%;
    color: #282828;
    justify-content: 'center';
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 109%; /* 29.43px */
    letter-spacing: 0.27px;
    text-transform: uppercase;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .para {
        font-size: 20px; /* Reduce font size for smaller screens */
        line-height: 120%; /* Adjust line height for better readability */
    }
}

.buttonSection {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 2%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .buttonSection {
        flex-direction: column; /* Stack buttons vertically on smaller screens */
        gap: 20px; 
        width: 120%;
   
    }
}

.button-filled, .button-outlined {
    width: 60%; /* Fixed width for both buttons */
    padding: 0.8em;
    flex-shrink: 0;
    border-radius: 1em;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.button-filled {
    background: #292929;
}

.button-filled-text, .button-outlined-text {
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 109%;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.button-filled-text {
    color: #E9E9E9;
}

.button-outlined-text {
    color: #000;
}

.svg1 {
    margin-left: -8%;
    margin-bottom: -10%;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; /* Default width */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .svg1 {
        width: 50%; /* Make the SVG smaller */
        height: auto; /* Maintain aspect ratio */
        margin-left: -22%; /* Adjust margin for smaller screens */
        margin-bottom: -5%; /* Adjust margin for smaller screens */
    }
}

.svg2 {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    width: 100%;
    margin-bottom: 6%; 
    height: auto; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .svg2 {
        width: 55%;
        height: auto;
        margin: 20% -85% 0% 0%; 
    }
}
.svg3 {
    position: absolute;
    top: -28.5%;
    right: 17.6%;

}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .svg3 {
        top: 48%; /* Adjust position lower */
        right: 15%; /* Adjust horizontal position */
        width: 68%; /* Make the SVG smaller */
        height: auto; /* Maintain aspect ratio */
    }
}

.title-area{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}