.App {
    position:  fixed;
    width: 100%;
    text-align: center;
    background-color: black;
    height : 100vh;
    color: white;
    justify-content: center;
  
  }
  
  section {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  #yellow-text-left , #yellow-text-right {
    position: absolute;
    color: yellow;
    text-align: center;
    margin-top: 30%;
    margin-left: 45%;
    object-fit: cover;
    
  }
  
  section img {
    position : absolute;
  }
  
  #map-image {
    
    scale : 0.5;
    left: 15%;
    top: -20%;
  }
  
     
  #girl-image {
    left: 40%;
    top: 20%;
  }