@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

.container {
    position: relative;
    height: 100vh;
    background-color: black;
    width: 100%;
}

.header-text-container {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 20%;
    
    justify-content: space-between;
}

.header-text {
    font-size: 5em;
    font-weight: bold;
    color: white;
    font-family: 'Space Grotesk', sans-serif;


}

.second-text-container {
    position: absolute;
    bottom : 10%;
    right: 5%;
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}


underscore {
    color: orange;
}


.second-text {
   
    margin-top: auto;
    font-size: 1em;
    font-weight:lighter;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

.balerina-container {
    position: absolute;
    width: 100%;
    

    background-color: black;
}

#balerina {
    margin-left: 5%;
}