/* Main container that holds all the sections */
.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 340vh; /* Enough height for scrolling through all sections */
    background-color: #0A1F25;
    overflow: hidden;

  }

  
  /* Hero section */
  .hero {
    position: relative;
    width: 100%;
    background-color: #0A1F25;
    top: 0;
    z-index: 2; 
    
   
  }
  
  /* ScreenTwo section */
  .screen-two {
    position: absolute;
    height: 100vh;


    width: 100%;
    margin-top: 10%;
    background-color: #ffffff;
    z-index: 1; 
  }
  
  /* ScreenThree section */
  .screen-three {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 60%;
    background-color: #0A1F25;
  }
  

  @media screen and (max-width: 768px) {
   
  
    .hero {
    
      display: none;
    }

    .screen-two {
        margin-top: 0;
    }
    .screen-three {
        margin-top: 0;
    }
    .main-container {
        height: 300vh;
    }
    
  
   
    
  }
  